<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PolisGarant</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!-- Own styles-->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <style>
            body {
                background: url("/img/wall.jpg") no-repeat center center;
                background-attachment: fixed;
                background-size: cover;
            }
            #polis-word {
                text-transform: uppercase;
                color: red;
            }
            #garant-word {
                text-transform: uppercase;
                color: blue;
                margin-left: -5px;
            }
            .nav-tab {
                text-transform: uppercase;
                font-weight: bold;
            }
            .nav-tab:hover{
                text-decoration: underline;
            }
            nav.navbar a.navbar-brand img {
                padding-bottom: 7px;
            }
            #navbarDropdown:hover {
                cursor: pointer;
                text-decoration: underline;
            }
            .dropdown-menu .dropdown-item:hover{
                background-color: silver;
            }
            .dropdown-menu .dropdown-item:active {
                background-color: #428bca;
            }
            ul li.active {
                background-color: #dedddd;
                border-radius: 50px;
            }
            footer.footer {
                background-color: #f8f9fa;
                bottom: -2px;
            }
            @@media screen and (max-width: 768px) {
                ul li.active {
                    background-color: transparent;
                }
            }
        </style>
        <div class="container-fluid border-bottom box-shadow mb-3">
            <div class="row">
                <nav class="col-12 navbar navbar-expand-md navbar-light bg-light">
                    <a class="navbar-brand offset-lg-1" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/img/pg-logo.png" width="30" class="d-inline-block" alt="logo">
                        <span id="polis-word">polis</span>
                        <span id="garant-word">garant</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="navbarContent" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav col-12 justify-content-around">
                            <li class="nav-item @(ViewBag.Tab == "About" ? "active" : "")">
                                <a class="nav-link text-secondary nav-tab" asp-area="" asp-controller="Home" asp-action="Index">про нас</a>
                            </li>
                            <li class="nav-item dropdown @(ViewBag.Tab == "Services" ? "active" : "")">
                                <a class="nav-link text-secondary nav-tab dropdown-toggle" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">послуги</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="Services" asp-action="StandardInsurance">Медичне страхування "Стандарт"</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Services" asp-action="ComplexInsurance">Комплексне медичне страхування</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Services" asp-action="TravelInsurance">Туристичне страхування</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Services" asp-action="CarInsurance">Автострахування</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Services" asp-action="PropertyInsurance">Страхування житла та нерухомості</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Services" asp-action="Diploma">Нострифікація документів про освіту у Чехії</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Services" asp-action="Career">Працевлаштування у Чехії</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Services" asp-action="Certificates">Довідки про несудимість з Польщі</a>
                                </div>
                            </li>
                            <li class="nav-item @(ViewBag.Tab == "Purchase" ? "active" : "")">
                                <a class="nav-link text-secondary nav-tab" asp-area="" asp-controller="Home" asp-action="Purchase">купити поліс</a>
                            </li>
                            <li class="nav-item @(ViewBag.Tab == "Contacts" ? "active" : "")">
                                <a class="nav-link text-secondary nav-tab" asp-area="" asp-controller="Home" asp-action="Contacts">контакти</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

    </header>
    <div class="container">
        <main role="main" class="pb-1">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - PolisGarant polisgarant@email.cz
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
